.login{
  height: 80px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.es{
  margin-top: 100px;
  margin-left: 20px;
  margin-right: 20px;
}
.regis{
  margin-left: 47px;
  margin-top: 15px;
  height: 40px;
  width: 120px;
}
.bv{
  margin-left: 60px;
  margin-top: 15px;
  height: 40px;
  width: 120px;
}
