<ion-header>
  <ion-toolbar color="principal" class="login">
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="fundo">

  <div class="es">
    <ion-card>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input placeholder="Inserir Email"></ion-input>
      </ion-item>


    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input placeholder="password"></ion-input>
    </ion-item>
  </ion-card>
  </div>

  <div >
  <ion-button class="regis" routerLink="/registro" color="principal">Registrar</ion-button>
  <ion-button class="bv" routerLink="/tabs/tab1" color="principal">Entrar</ion-button>
</div>

  <ion-button fill="clear" expand="block" color="principal">Esqueci minha senha</ion-button>

</ion-content>
